{% extends 'admin/change_form.html' %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const context = document.getElementById('myChart').getContext('2d');

            let chartData = {{ chart_data | safe }};
            let objectId = {{ object_id }};

            chartData.forEach((data) => {
                data.x = new Date(data.date);
            });

            const chart = new Chart(context, {
                type: 'bar',
                data: {
                    datasets: [
                        {
                            label: 'Bookings made',
                            data: chartData,
                            backgroundColor: 'rgba(220,20,20,0.5)',
                        }
                    ],
                },
                options: {
                    responsive: true,
                    scales: {
                        xAxes: [
                            {
                                type: 'time',
                                time: {
                                    unit: 'day',
                                    round: 'day',
                                    displayFormats: {
                                        day: 'MMM D',
                                    },
                                },
                            },
                        ],
                        yAxes: [
                            {
                                ticks: {
                                    beginAtZero: true,
                                },
                            },
                        ],
                    },
                },
            });

            const btn = document.querySelector('#reload');
            btn.addEventListener('click', async() => {
                const result = await fetch(`/__suksesadmin__/api/eventinfo/${objectId}/change/chart_data`);
                const json = await result.json();
                json.forEach((data) => {
                    data.x = new Date(data.date);
                });
                chart.data.datasets[0].data = json;
                chart.update();
            });
        });
    </script>
{% endblock extrahead %}

{% block content %}
    <div style="width: 80%;">
        <canvas style="margin-bottom: 30px; width: 60%; height: 50%;" id="myChart"></canvas>
    </div>

    <button id="reload" style="margin: 1rem 0">Reload chart data</button>
    {{ block.super }}
{% endblock content %}