{% load email_filter %}
<!DOCTYPE html>
<html style="box-sizing: border-box;line-height: 1.15;-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: transparent;">


<header class="header" style="box-sizing: border-box;display: block;">
    <a href="https://mentoria.id" style="box-sizing: border-box;color: #007bff;text-decoration: underline;background-color: transparent;">
        <img src="https://i.ibb.co/pvs3tJg/Logo.png" class="logo" style="box-sizing: border-box;vertical-align: middle;border-style: none;page-break-inside: avoid;margin: 1.5rem;width: 10rem;margin-left: auto;margin-right: auto;display: block;">
    </a>
</header>


<body style="font-family: 'Helvetica Neue', Helvetica, sans-serif;height: 100%;box-sizing: border-box;margin: 0;font-size: 12px;font-weight: 400;line-height: 1.5;color: #212529;text-align: left;background-color: #fff">
<div class="body-message" style="box-sizing: border-box;margin: 1vmax 5vmax 2vmax 5vmax;">
    <div class="greeting" style="box-sizing: border-box;color: #1EA8AA;font-weight: bold;margin-bottom: 16px;">
        <h2 style="font-weight:bold;box-sizing: border-box;margin-top: 0;margin-bottom: .5rem;margin-block-end: 0; line-height: 1.5;font-size: 16px;orphans: 3;widows: 3;page-break-after: avoid;">
            Hi {{ user.name }},
        </h2>
    </div>
    <div class="content" style="box-sizing: border-box;">
        <h4 style="box-sizing: border-box;margin-top: 0;margin-bottom: .5rem;font-weight: 500;line-height: 1.5;">
            Pembayaranmu untuk event <a href="{{ event_url }}" style="text-decoration-color: #1EA8AA;"><span class="nama-event" style="color: #1EA8AA;font-weight: bold">{{ booking.user_event.event.name }}</span></a>
            telah kami verifikasi, jangan lupa datang tepat waktu pada :
        </h4>
        <h4 style="margin-block-end: 0;">
            Hari, tanggal : {{ booking.user_event.event.start_at | indo_localize_date }}
        </h4>
        <h4 style="margin-block-start: 0;margin-block-end: 0;">
            Waktu : {{ booking.user_event.event.start_at | date:"H:i" }} - {{ booking.user_event.event.end_at | date:"H:i" }}
        </h4>
        <h4 style="margin-block-start: 0">
            Lokasi : {{ booking.user_event.event.locations.first.location_name }}, {{ booking.user_event.event.locations.first.location_name.address }}
        </h4>
        <h4 style="box-sizing: border-box;margin-top: 0;margin-bottom: .5rem;font-weight: 500;line-height: 1.5;">

            Terima kasih, kami tunggu kehadiranmu.
        </h4>
    </div>
</div>
<div class="closer" style="box-sizing: border-box;margin: 1vmax 5vmax 2vmax 5vmax; font-weight: 500">
    <hr>
    <h4 style="box-sizing: border-box;margin-top: 0;margin-bottom: .5rem;font-weight: 500;line-height: 1.5; margin-top: 12px">
        Untuk informasi lebih lanjut, atau jika kamu memiliki pertanyaan, kamu dapat langsung menghubungi kontak berikut :
    </h4>
    <h4 style="color: #1EA8AA; margin-block-end: 0; font-weight: 500">
        Phone :  (+62) 81574295695 (Abeltus Reforma)
    </h4>
    <h4 style="color: #1EA8AA; margin-block-start: 0; margin-block-end: 0; font-weight: 500">
        Email : <a href="mailto:hello@mentoria.id" style=" text-decoration-color: #1EA8AA">
                    <span style="color: #1EA8AA; ">
                        hello@mentoria.id
                    </span>
    </a>
    </h4>
    <h4 style="color: #1EA8AA; margin-block-start: 0; font-weight: 500">
        Line :  @mentoria.id
    </h4>
</div>
</body>



<footer style="position: relative;left: 0;bottom: 0;width: 100%;background-color: #1EA8AA;color: white;text-align: center;box-sizing: border-box;display: block; margin-top:24px">
    <div class="footer-social-icons" style="box-sizing: border-box;width: 750px;display: block;margin:auto;">
        <ul class="social-icons" style="box-sizing: border-box;padding-top: 15px;padding-inline-start: 0">
            <li style="display: inline;margin: 1vmax;margin-top: 2vmax">
                <a href="https://www.instagram.com/mentoria.id/" class="social-icon" style="box-sizing: border-box;color: #1EA8AA;text-decoration: underline;background-color: transparent;">
                    <img src="https://i.ibb.co/xLhGFcy/instagram-logo.png" style="width: 1.5vmax;height: 1.5vmax">
                </a>
            </li>
            <li style="box-sizing: border-box;vertical-align: top;display: inline;height: 100px;margin: 1vmax;margin-top: 2vmax">
                <a href="https://web.facebook.com/mentoria.id/" class="social-icon" style="box-sizing: border-box;color: #1EA8AA;text-decoration: underline;background-color: transparent;"">
                <img src="https://i.ibb.co/5hKZLQM/facebook-logo.png" style="width: 1.5vmax;height: 1.5vmax">
                </a>
            </li>
            <li style="box-sizing: border-box;vertical-align: top;display: inline;height: 100px;margin: 1vmax;margin-top: 2vmax">
                <a href="https://www.linkedin.com/company/mentoria-indonesia/about/" class="social-icon" style="box-sizing: border-box;color: #1EA8AA;text-decoration: underline;background-color: transparent;">
                    <img src="https://i.ibb.co/hL9LbJ0/linked-in-logo-of-two-letters.png" style="width: 1.2vmax;height: 1.2vmax">
                </a>
            </li>
            <li style="box-sizing: border-box;vertical-align: bottom;display: inline;height: 100px;margin: 1vmax;margin-top: 2vmax">
                <a href="https://www.youtube.com/channel/UCDh0ZNES6ofP4E3GsH3ExAw" class="social-icon" style="box-sizing: border-box;color: #1EA8AA;text-decoration: underline;background-color: transparent;">
                    <img src="https://i.ibb.co/xSFgr6F/youtube-1.png" style="width: 1.5vmax;height: 1.5vmax">
                </a>
            </li>
            <li style="box-sizing: border-box;vertical-align: bottom;display: inline;height: 100px;margin: 1vmax;margin-top: 2vmax">
                <a href="mailto:hello@mentoria.id" class="social-icon" style="box-sizing: border-box;color: #1EA8AA;text-decoration: underline;background-color: transparent;">
                    <img src="https://i.ibb.co/X7SC1pc/mail-128.png" style="width: 1.5vmax;height: 1.5vmax">
                </a>
            </li>
            <li style="box-sizing: border-box;vertical-align: bottom;display: inline;height: 100px;margin: 1vmax;margin-top: 2vmax">
                <a href="https://line.me/R/ti/p/%40mentoria.id" class="social-icon" style="box-sizing: border-box;color: #1EA8AA;text-decoration: underline;background-color: transparent;">
                    <img src="https://i.ibb.co/Rj7tyLC/line-logo.png" style="width: 1.2vmax;height: 1.2vmax">
                </a>
            </li>
        </ul>
    </div>
    <p style="font-size: 7px; box-sizing: border-box;margin-top: 0;padding-bottom: 1rem;orphans: 3;widows: 3;">&copy; 2019 Mentoria Indonesia, all rights reserved</p>
</footer>

</html>



