<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>You've requested to reset your password,
        follow <a href="{{ reset_password_url }}">this link</a> to reset your password.
    </p>
</body>
</html>